<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/system/users/index.js</sdb:script>
    <sdb:state name="santedb-emr.system.users.index">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.10</sdb:demand>
        <sdb:url>/</sdb:url>
        <sdb:view>
            <sdb:title>List</sdb:title>
            <sdb:controller>EmrUserIndexController</sdb:controller>
        </sdb:view>
    </sdb:state>

    <div ng-if="$root.system.config.sync.mode != 'Sync'" class="alert alert-danger">
        <i class="fas fa-fw fa-exclamation-circle"></i> {{ 'ui.emr.directDisable.localUser' | i18n }}
    </div>
    <div ng-if="$root.system.config.sync.mode == 'Sync'" >
        <entity-table id="SecurityUserTable" type="SecurityUser" search-field="userName"
            default-query="{ 'obsoletionTime' : 'null', 'userClass' : [ UserClassKeys.HumanUser, UserClassKeys.SystemUser ], 'roles.name' : [ 'LOCAL_USERS', 'LOCAL_ADMINISTRATORS' ] }"
            property-path="entity" i18n-prefix="'ui.emr.users.'" default-filter="initialFilter"
            render="{ lockout: 'renderLockout', lastLoginTime: 'renderLastLogin' }"
            item-class="{ 'lastLoginTime' : 'd-none d-md-table-cell', 'lockout' : 'd-none d-md-table-cell' }"
            properties="[ 'userName', 'lastLoginTime', 'lockout' ]"
            item-actions="[ { name: 'edit', sref: 'santedb-emr.system.users.edit', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.8.1', className: 'btn-primary', icon: 'fa fa-pencil-alt' }, { name: 'delete', action: 'delete', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.8.1', className: 'btn-danger', icon: 'fa fa-trash', when: '!r.obsoletionTime' },  { name: 'undelete', action: 'delete', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.8.1', className: 'btn-success', icon: 'fa fa-trash-restore', when: 'r.obsoletionTime' }, { name: 'lock', action: 'lock', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.8.1', className: 'btn-info', icon: 'fa fa-lock', when: '!r.lockout' }, { name: 'unlock', action: 'lock', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.8.1', className: 'btn-info', icon: 'fa fa-unlock', when: 'r.lockout' }, { name: 'reset', label: 'ui.action.resetPassword', action: 'resetPassword', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.1', className: 'btn-secondary', icon: 'fa fa-asterisk', when: '!r.obsoletionTime' } ]"
            actions="[ { name: 'create', demand: '1.3.6.1.4.1.33349.3.1.5.9.2.0.4.1', sref: 'santedb-emr.system.users.create', className: 'btn-primary', icon: 'fa fa-plus-circle' } ]">

        </entity-table>

        <!-- #include virtual="/org.santedb.uicore/views/dialogs/password.partial.html" -->
    </div>
</div>