<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid p-0">
    <sdb:script static="false">~/controllers/act/encounter/view.js</sdb:script>
    <sdb:state name="santedb-emr.encounter.view">
        <sdb:url>/{id}</sdb:url>
        <sdb:view>
            <sdb:controller>EmrEncounterViewController</sdb:controller>
            <sdb:title lang="en">View Visit</sdb:title>
        </sdb:view>
    </sdb:state>

    <div ng-if="!encounter">
        <i class="fas fa-circle-notch fa-spin"></i> {{ 'ui.wait' | i18n }}
    </div>
    <div ng-if="encounter">
        <widget-tabs context-name="'org.santedb.emr.encounter.view'" scoped-object="encounter"></widget-tabs>
    </div>
    
</div>