<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="form-group row">
        <label class="control-label col-md-3 col-sm-12">{{ act.typeConceptModel | concept }}</label>
        <div class="col-md-9 col-sm-12">
            <div class="input-group mb-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <input type="checkbox" ng-model="act._active"/>
                    </div>
                </div>
                <concept-select ng-model="act.valueModel" ng-disabled="!act._active" concept-set="'DeliveryMethod'" add-concept="'70fe34ce-caff-4f46-b6e6-9cd6d8f289d6'" class="form-control"/>
            </div>
            <em input-help="true">{{ 'ui.emr.templates.observation.birthDeliveryMethod.help' | i18n }}</em>

        </div>
    </div>
</div>