<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-12">
            <label class="control-label">
                {{ act.typeConceptModel | concept }}
            </label>

            <concept-select concept-set="'PregnancyFindingCodes'" class="form-control" ng-model="act.value" required="required"
                name="pregnancyFindingMethod" />

            <div class="text text-danger" ng-if="($parent.$parent.$parent.panel || $parent.$parent.panel || $parent.panel || panel).editForm['pregnancyFindingMethod'].$error['required']">
                <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
            </div>
        </div>
    </div>
</div>
