<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="p-2">
    <sdb:script>~/controllers/patient/widgets/demographics.js</sdb:script>

    <sdb:widget name="org.santedb.emr.widget.patient.idCard" type="Tab" context="org.santedb.emr.patient" order="100">
        <sdb:icon>fas fa-qrcode</sdb:icon>
        <sdb:description lang="en">Patient Demographics Widget Tab</sdb:description>
        <sdb:guard>scopedObject.id</sdb:guard>
    </sdb:widget>

    <div class="can-print print-only" ng-if="scopedObject.id">
        <div>
            <table class="table w-100" ng-controller="EmrPatientViewWidgetController">
                <caption class="print-only">{{ 'ui.generated.on' | i18n }} {{ :: $root.page.currentTime | extDate: 'M'
                    }}
                </caption>
                <tr>
                    <td colspan="2" align="center" class="bg-light">
                        <img class="m-auto" id="printBarcodeUrl" style="width:5.5in"
                            src="/hdsi/Patient/{{scopedObject.id}}/_code" />
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'ui.model.patient.name' | i18n }}:
                    </th>
                    <td>
                        {{ scopedObject.name | name }}
                    </td>
                </tr>
                <!-- Show the preferred identifier if exists or configured-->
                <tr
                    ng-if="$root.system.config.application.setting['aa.preferred'] &amp;&amp; scopedObject.identifier[$root.system.config.application.setting['aa.preferred']]">
                    <th>{{
                        scopedObject.identifier[$root.system.config.application.setting['aa.preferred']][0].domainModel.name
                        }}</th>
                    <td>
                        {{ scopedObject.identifier[$root.system.config.application.setting['aa.preferred']][0].value }}
                    </td>
                </tr>
                <!-- Show other identifiers in lieu of a preferred identifier -->
                <tr
                    ng-if="!$root.system.config.application.setting['aa.preferred'] || !scopedObject.identifier[$root.system.config.application.setting['aa.preferred']]"
                    ng-repeat="(domain, id) in scopedObject.identifier">
                    <th class="p-2">
                        {{ id[0].domainModel.name}}
                    </th>
                    <td>
                        {{ id[0].value}}
                    </td>
                </tr>
                <tr>
                    <th>{{ 'ui.model.patient.dateOfBirth' | i18n }}:</th>
                    <td>{{ scopedObject.dateOfBirth | extDate: scopedObject.dateOfBirthPrecision }}</td>
                </tr>
                <tr>
                    <th>{{ 'ui.model.patient.genderConcept' | i18n }}:</th>
                    <td>{{ scopedObject.genderConceptModel | concept }}</td>
                </tr>
                <tr>
                    <th>{{ 'ui.model.patient.address' | i18n }}:</th>
                    <td> {{ scopedObject.address | address }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <table class="table" ng-controller="EmrPatientViewWidgetController">

        <tbody>
            <tr>
                <td width="35%" rowspan="4" align="center" class="bg-light">
                    <img class="m-auto" id="printBarcodeUrl" style="width:75%"
                        src="/hdsi/Patient/{{scopedObject.id}}/_code" />
                    <br /> {{ 'ui.emr.vrp.title' | i18n }}
                </td>
                <td width="65%">
                    <strong>{{ 'ui.model.patient.name' | i18n }}:</strong>
                    {{ scopedObject.name | name }}
                </td>
            </tr>
            <tr>
                <td><strong>{{ 'ui.model.patient.dateOfBirth' | i18n }}:</strong>
                    {{ scopedObject.dateOfBirth | extDate: scopedObject.dateOfBirthPrecision }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'ui.model.patient.genderConcept' | i18n }}:</strong>
                    {{ scopedObject.genderConceptModel | concept }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'ui.model.patient.address' | i18n }}:</strong> {{ scopedObject.address | address }}
                </td>
            </tr>
            <tr>
                <td colspan="2" class="text-right">
                    <a href="https://help.santesuite.org/santedb/extending-santedb/service-apis/health-data-service-interface-hdsi/digitally-signed-visual-code-api"
                        target="_blank">
                        <i class="fas fa-question-circle"></i> {{ 'ui.emr.vrp.help' | i18n }}</a>
                </td>
            </tr>
        </tbody>
    </table>


</div>