<div xmlns="http://www.w3.org/1999/xhtml"
    oc-lazy-load="{ name: 'PregnancyStatusController', files: [ '/org.santedb.emr.common/controllers/templates/act/pregnancy.js' ] }">

    <div ng-controller="PregnancyStatusController">
        <div id="pregnancyStatusInput" class="container-fluid">
            <div class="row" ng-if="!act.relationship.HasComponent">
                <div class="col-12">
                    <div class="alert alert-info">
                        <i class="fas fa-fw fa-info-circle"></i> {{ 'ui.emr.patient.pregnancy.readonly' | i18n }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-10 offset-1">
                    <label class="control-label required">
                        {{ act.typeConceptModel | concept }}
                    </label>

                    <concept-select ng-disabled="!act.relationship.HasComponent" required="required"
                        class="form-control" name="pregnancyStatus" concept-set="'PregnancyStatusCodes'"
                        ng-model="act.value" add-concept="['21b0ffc8-ca4e-408d-a104-41fc924d3a39']"
                        ng-change="act.statusConcept = 'afc33800-8225-4061-b168-bacc09cdbae3'" />
                    <div class="text-danger"
                        ng-if="($parent.$parent.$parent.panel || $parent.$parent.panel || $parent.panel || panel).editForm['pregnancyStatus'].$error['required']">
                        <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>

            <div class="row" ng-if="act.value">
                <div class="col-10 offset-1 container-fluid">
                    <div class="row">
                        <div ng-class="{ 'col-sm-12 col-md-6' : comp.targetModel.typeConcept !== 'c2cb8755-1961-4cc2-a4ba-814f068dfa48', 'col-12' : comp.targetModel.typeConcept == 'c2cb8755-1961-4cc2-a4ba-814f068dfa48' }" ng-if="comp.operation == 'InsertOrUpdate'"
                            ng-repeat="comp in act.relationship.HasComponent track by $index">
                            <div ng-init="act = comp.targetModel">
                                <ng-include src="::resolveTemplate(comp.targetModel.templateModel.mnemonic)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>