<span xmlns="http://www.w3.org/1999/xhtml">
    {{ act.typeConceptModel | concept }} -
    <strong>{{ act.valueModel | concept }}</strong>
    <span ng-repeat="comp in act.relationship.HasComponent track by $index" ng-switch="comp.targetModel.typeConcept">
        <span ng-switch-when="54843f39-8820-4856-951c-1bcd4812bdce" class="mx-2">
            <strong><i class="fas fa-fw fa-clock"></i> LMP:</strong> {{ comp.targetModel.value | extDate:
            comp.targetModel.valuePrecision }}
            <strong class="ml-2"><i class="fas fa-fw fa-arrow-right"></i> G/A: </strong> {{
            comp.targetModel.value.age("week") }} wk
        </span>
        <span ng-switch-when="673ac0e2-8468-43ca-9e54-cadf413dfede" class="mx-2">
            <strong><i class="fas fa-fw fa-baby"></i> EDD:</strong> {{ comp.targetModel.value | extDate:
            comp.targetModel.valuePrecision }}
        </span>
        <span ng-switch-when="afdefced-8468-43ca-9e54-cadf413dfede" class="mx-2">
            <strong><i class="fas fa-fw fa-baby"></i> EDD (C/E):</strong> {{ comp.targetModel.value | extDate:
            comp.targetModel.valuePrecision }}
        </span>
    </span>
    <span ng-repeat="comp in act.relationship.HasComponent track by $index" ng-switch="comp.targetModel.typeConcept">
        <span ng-switch-when="c2cb8755-1961-4cc2-a4ba-814f068dfa48" class="mx-2 text-danger font-weight-bold">
            <br />
            <span ng-repeat="xcomp in comp.targetModel.relationship.HasComponent track by $index"
                ng-if="!xcomp.targetModel.isNegated &amp;&amp; xcomp.targetModel.operation != 5" class="mx-1">
                <i class="fas fa-circle"></i> {{ xcomp.targetModel.valueModel | concept }}
            </span>
        </span>
    </span>
</span>