<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid">
    <sdb:script static="false">~/controllers/patient/search.js</sdb:script>
    <sdb:state name="santedb-emr.patient.advSearch">
        <sdb:demand>1.3.6.1.4.1.33349.3.1.5.9.2.2.0</sdb:demand>
        <sdb:url>/searchAdv</sdb:url>
        <sdb:view>
            <sdb:controller>EmrAdvancedPatientSearchController</sdb:controller>
            <sdb:title lang="en">Advanced Search</sdb:title>
        </sdb:view>
    </sdb:state>


    <div class="row">
        <div class="col-lg-8 col-md-12 offset-lg-2">
            <form ng-submit="search(searchForm)" name="searchForm" novalidate="novalidate" autocomplete="off">
                <div class="card">
                    <div class="card-header">
                        <button data-toggle="collapse" data-target="#advancedSearchFilter" aria-expanded="true"
                            class="btn p-0 btn-link collapse-indicator">
                            <h5 class="card-title mb-0">{{ 'ui.emr.patient.search.advanced' | i18n }}
                                <i class="fas fa-chevron-right"></i>
                            </h5>
                        </button>
                    </div>
                    <div class="collapse show active" id="advancedSearchFilter">
                        <div class="card-body">
                            Foo
                        </div>
                        <div class="card-footer">
                            <div class="btn-group float-right">
                                <button class="btn btn-secondary" id="btnReset" type="reset">
                                    <i class="fas fa-undo"></i> {{ 'ui.action.reset' | i18n }}
                                </button>
                                <button class="ml-1 btn btn-success"
                                    ng-if="$root.system.config.integration.mode == 'synchronize'" id="btnSearchOnline"
                                    type="button" ng-click="searchOnline()"
                                    ng-disabled="searchForm.$invalid || !$root.system.online">
                                    <i class="fas fa-cloud-meatball"></i> {{ 'ui.action.search.upstream' | i18n }}
                                </button>
                                <button class="btn btn-primary" id="btnSearch" type="submit"
                                    ng-disabled="searchForm.$invalid">
                                    <i class="fas fa-search"></i> {{ 'ui.action.search' | i18n }}
                                </button>
                            </div>
                            <div class="clearfix" ></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>