<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container p-0">
    <sdb:widget order="200" name="org.santedb.emr.widget.patient.register.contacts" headerClass="alert-info" size="Large"
        type="Panel" context="org.santedb.emr.patient.register">
        <sdb:icon>fas fa-people-arrows</sdb:icon>
        <sdb:description lang="en">Patient Next of Kin Entry</sdb:description>
    </sdb:widget>
    <div ng-controller="EmrPatientRegisterWidgetController" class="accordion">

        <div class="form-group row">
            <label class="col-md-3 col-sm-12 control-label"
                ng-class="{ 'required' : scopedObject.relationship.Mother[0].operation == 'Delete' }">
                {{ 'ui.model.entity.relationship.relationshipType' | i18n }}  <hint-popover hint-title="ui.model.entity.relationship.relationshipType" />
            </label>
            <div class="col-sm-12 col-md-9">
                <concept-select ng-if="!scopedObject.age || scopedObject.age &lt; 18" name="nokRelationshipType"
                    ng-required="scopedObject.relationship.Mother[0].operation == 'Delete'"
                    concept-set="'ChildFamilyMember'" class="form-control"
                    exclude-concepts="[ '29ff64e5-b564-411a-92c7-6818c02a9e48' ]"
                    ng-model="scopedObject.relationship.$other[0].relationshipType" />
                <concept-select ng-if="scopedObject.age &gt;= 18" name="nokRelationshipType" required="required"
                    concept-set="'FamilyMember'" class="form-control"
                    ng-model="scopedObject.relationship.$other[0].relationshipType" />
                <div class="text-danger" ng-if="panel.editForm.nokRelationshipType.$error['required']">
                    <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                </div>
            </div>
        </div>

        <div ng-if="scopedObject.relationship.$other[0].relationshipType">

            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.patient.relationship.relationshipRole' | i18n }} <hint-popover hint-title="ui.model.patient.relationship.relationshipRole" />
                </label>
                <div class="col-sm-12 col-md-9">
                    <concept-select name="nokContactRole"
                        concept-set="'ContactRole'" class="form-control"
                        ng-model="scopedObject.relationship.$other[0].relationshipRole" />
                </div>
            </div>

            <identifier-list-edit owner-form="panel.editForm" name="nokIdentifier"
                identifier="scopedObject.relationship.$other[0].identifier"
                container-class="'9de2a846-ddf2-4ebc-902e-84508c5089ea'" />

            <name-edit is-required="true" no-add="true" owner-form="editForm" simple-entry="true" no-type="true"
                name="mothersName" />

            <div class="form-group row">
                <label class="col-sm-12 col-md-3 control-label required">{{
                    scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision == 1 ?
                    'ui.model.patient.dateOfBirth.age' : 'ui.model.patient.dateOfBirth' | i18n }}
                    <hint-popover popover-title="ui.model.patient.dateOfBirth" />
                </label>
                <div class="col-sm-12 col-md-9">
                    <div class="input-group m-0">
                        <div class="input-group mb-0">
                            <div class="input-group-prepend">
                                <label class="input-group-text">
                                    <div class="checkbox-container m-2">
                                        <input type="checkbox"
                                            ng-model="scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision"
                                            ng-true-value="1" ng-false-value="3" class="checkbox-control" />
                                        <span class="m-2"></span>
                                    </div>
                                    {{ 'ui.model.patient.dateOfBirth.approx' | i18n }}
                                </label>
                            </div>
                            <input name="motherAge" required="required"
                                ng-if="scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision == 1"
                                ng-change="scopedObject.relationship.$other[0].targetModel.dateOfBirth = ageToDate(scopedObject.relationship.$other[0].targetModel.age)"
                                type="number" ng-model="scopedObject.relationship.$other[0].targetModel.age" min="0"
                                class="form-control" />
                            <input name="motherDob" required="required"
                                ng-if="scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision == 3"
                                ng-change="scopedObject.relationship.$other[0].targetModel.age = dateToAge(scopedObject.relationship.$other[0].targetModel.dateOfBirth)"
                                type="date" ng-model="scopedObject.relationship.$other[0].targetModel.dateOfBirth"
                                min="1900-01-01" max="{{ scopedObject.dateOfBirth | date: 'yyyy-MM-dd' }}"
                                class="form-control" />
                            <div class="input-group-append"
                                ng-if="scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision == 1">
                                <span class="input-group-text">{{ 'ui.emr.patient.ageInYears' | i18n }}</span>
                                <span class="input-group-text">{{ 'ui.model.patient.dateOfBirth.approx' | i18n }} {{
                                    scopedObject.relationship.$other[0].targetModel.dateOfBirth | extDate:
                                    scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision }}</span>
                            </div>
                            <div class="input-group-append"
                                ng-if="scopedObject.relationship.$other[0].targetModel.dateOfBirthPrecision == 3">
                                <span class="input-group-text">{{
                                    dateToAge(scopedObject.relationship.$other[0].targetModel.dateOfBirth )}} {{
                                    'ui.emr.patient.ageInYears' | i18n }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="text-danger d-none d-sm-block"
                        ng-if="panel.editForm['motherDob'].$invalid || panel.editForm['motherAge'].$invalid">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-md-3 control-label required">{{ 'ui.model.patient.genderConcept' | i18n
                    }}</label>
                <div class="col-sm-12 col-md-9">
                    <concept-select class="form-control" required="required" name="nokBirthGender"
                        concept-set="'AdministrativeGenderCode'"
                        ng-model="scopedObject.relationship.$other[0].targetModel.genderConceptModel" />
                    <div class="text-danger" ng-if="panel.editForm['nokBirthGender'].$invalid">
                        <i class="fas fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-sm-12 control-label">
                    {{ 'ui.model.entity.address.HomeAddress' | i18n }} <hint-popover
                        hint-title="ui.model.entity.address.HomeAddress" />
                </label>
                <label class="col-md-9 col-sm-12 checkbox-container mt-2">
                    <input type="checkbox" class="checkbox-control"
                        ng-model="scopedObject.relationship.$other[0].targetModel.address.HomeAddress[0]._differentThanPatient" />
                    <span></span>
                    {{ 'ui.emr.patient.$other.differsFromPatient' | i18n }}
                </label>
            </div>
            <address-edit
                ng-if="scopedObject.relationship.$other[0].targetModel.address.HomeAddress[0]._differentThanPatient"
                is-required="true" address="scopedObject.relationship.$other[0].targetModel.address.HomeAddress"
                name="motherAddress" no-type="true" owner-form="editForm" no-add="true" simple-entry="true" />

            <telecom-edit owner-form="panel.editForm" name="mothersTelecom"
                telecom="scopedObject.relationship.$other[0].targetModel.telecom" allowed-types="[ 'MobileContact' ]"
                required-types="[ 'MobileContact' ]" />

            <div class="form-group row">
                <label class="col-sm-12 col-md-3 control-label">{{ 'ui.model.person.nationality' | i18n }} <hint-popover
                        hint-title="ui.model.person.nationality" /></label>
                <div class="col-sm-12 col-md-9">
                    <entity-search type="'Concept'"
                        ng-model="scopedObject.relationship.$other[0].targetModel.nationalityKey"
                        search-field="'name.value'" filter="{ 'conceptSet': '7f4e7366-a0e6-4a5e-b2b1-82187447e792' }" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-12 col-md-3 control-label">{{ 'ui.model.entity.relationship.Citizen' | i18n
                    }} <hint-popover hint-title="ui.model.entity.relationship.Citizen" /></label>
                <div class="col-sm-12 col-md-9">
                    <entity-search type="'Place'" ng-model="scopedObject.relationship.$other[0].targetModel.Citizen"
                        multiple="multiple" search-field="'name.component.value'" value-property="'target'"
                        filter="{ 'classConcept': '48b2ffb3-07db-47ba-ad73-fc8fb8502471' }" />
                </div>
            </div>

        </div>
    </div>
</div>