<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet">
    <sdb:script static="false">~/controllers/act/encounter/modal.js</sdb:script>
    <div class="modal" id="returnModal" role="dialog" aria-labelledby="returnModalTitle" aria-hidden="true"  data-backdrop="static"
        ng-controller="EmrReturnWaitingRoomController">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalTitle">
                        <i class="fa fa-fw fa-person-walking-arrow-loop-left"></i> {{ 'ui.emr.encounter.return.title' |
                        i18n }}
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </div>
                <form name="returnForm" ng-submit="saveEncounter(returnForm)" novalidate="novalidate">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="form-group row">
                                <label class="col-sm-12 col-lg-3 control-label">{{ 'ui.emr.encounter.checkin.state' |
                                    i18n }}
                                    <hint-popover hint-title="ui.emr.encounter.checkin.state" />
                                </label>
                                <div class="col-sm-12 col-lg-9">
                                    <concept-select required="required" name="returnReason" concept-set="'EMREncounterTags'" class="form-control"
                                        ng-model="encounter.extension['http://santedb.org/emr/extensions/encounter-flow'][0].id"
                                         />
                                         <div class="text-danger" ng-if="returnForm.returnReason.$error['required']">
                                            <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            <i class="fa fa-times"></i> {{ 'ui.action.cancel' | i18n }}</button>
                        <button type="submit" id="btnSubmit" ng-disabled="returnForm.$invalid" class="btn btn-primary">
                            <i class="fa fa-check"></i> {{ 'ui.action.wait' | i18n }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>