<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid">
    <div class="form-group row">
        <label class="checkbox-container col-xs-12 col-md-3" ng-if="!act.tag.$userAdded &amp;&amp; !act.version">
            <input type="checkbox" class="checkbox-control" ng-model="act.statusConcept"
                ng-true-value="'afc33800-8225-4061-b168-bacc09cdbae3'" ng-false-value="null" />
            <span></span>
            {{ ::act.typeConceptModel | concept }}
        </label>
        <div class="col-xs-12 col-md-3" ng-if="act.tag.$userAdded || act.version">
            {{ ::act.typeConceptModel | concept }}
        </div>
        <div class="col-md-9 col-xs-12">
            <concept-select concept-set="'DevelopmentalDisorders'" name="disorder" ng-model="act.value"
                ng-disabled="act.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3' &amp;&amp; !act.tag.$userAdded"
                ng-required="act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'" class="form-control"
                add-concept="['6052712a-340e-4480-ad6b-409ba320db4f']" />
            <div class="text-danger"
                ng-if="($parent.$parent.$parent.ownerForm || $parent.$parent.ownerForm || $parent.ownerForm || ownerForm).disorder.$error.required">
                <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
            </div>
        </div>
        <label class="control-label col-xs-12 col-md-3" ng-if="act.version &amp;&amp; act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'">
            {{ ::act.relationship.HasComponent[0].targetModel.typeConceptModel | concept }}
        </label>
        <div class="col-md-9 col-xs-12" ng-if="act.version &amp;&amp; act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'">
            <concept-select ng-model="act.relationship.HasComponent[0].targetModel.value" 
                    concept-set="'ObservationClinicalStatus'" 
                    name="disability{{act.id}}Status"
                    class="form-control"
                    required="required" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-xs-12 col-md-3 control-label"
            ng-class="{ 'required' : act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'}">
            {{ 'ui.model.emr.disability.notes' | i18n }}
        </label>
        <div class="col-xs-12 col-md-9">
            <textarea ng-required="act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'"
                name="natureOfDisability" ng-model="act.note[0].text" maxlength="2048" class="form-control"
                ng-disabled="act.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3' &amp;&amp; !act.tag.$userAdded">
            </textarea>
            {{ 2048 - act.note[0].text.length }} {{ 'ui.common.charsRemain' | i18n }}
            <div class="text-danger"
                ng-if="($parent.$parent.$parent.ownerForm || $parent.$parent.ownerForm || $parent.ownerForm || ownerForm).natureOfDisability.$error.required">
                <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18m }}
            </div>
        </div>
    </div>

</div>