<div xmlns="http://www.w3.org/1999/xhtml" class="row">
    <div class="col-12 pt-2">
        <h6>{{ act.typeConceptModel | concept }}</h6>
    </div>

    <div class="col-12 ml-3"
        ng-repeat="complication in act.relationship.HasComponent track by $index">
        <label class="checkbox-container font-weight-bold">
            <!-- Batch Operation = 2 is INSERT OR UPDATE and 5 is IGNORE (from BatchOperationType enum)-->
            <input type="checkbox" ng-model="complication.targetModel.isNegated" ng-true-value="false"
                ng-disabled="act.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3'" ng-false-value="true"
                class="checkbox-control" />
            <span></span>
            {{ ::complication.targetModel.valueModel | concept }}
        </label>
        {{ complication.targetModel }}
        
        <concept-select class="form-control" ng-if="complication.targetModel.tag['$cdss.valueSet']"
            concept-set="complication.targetModel.tag['$cdss.valueSet'][0]" ng-disabled="complication.targetModel.isNegated"
            ng-model="complication.targetModel.value" />
    </div>
</div>
