<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid"
    oc-lazy-load="{ name: 'PregnancyHistoryController', files: [ '/org.santedb.emr.common/controllers/templates/act/pregnancy.js' ] }">
    
    <div ng-controller="PregnancyHistoryController">
        <!-- Does Patient Have Pregnancy History -->
        <div class="row" ng-if="!act.version">
            <div class="col-12">
                <label class="p-0 font-weight-bold control-label required">
                    {{ act.typeConceptModel | concept }}
                </label>
            </div>

            <div class="col-12">
                <label class="checkbox-container font-weight-bold mr-2">
                    <input type="radio" ng-model="act.statusConcept" ng-value="'afc33800-8225-4061-b168-bacc09cdbae3'"
                        name="pregnancyHistory" class="checkbox-control" />
                    <span></span>
                    Yes
                </label>

                <label class="checkbox-container font-weight-bold">
                    <input type="radio" ng-model="act.statusConcept" ng-value="null" name="pregnancyHistory"
                        class="checkbox-control" />
                    <span></span>
                    No
                </label>
            </div>
        </div>

        <div class="row">
            <div ng-repeat="comp in act.relationship.HasComponent track by $index"
                ng-if="comp.targetModel.$type == 'QuantityObservation'" class="col-sm-12 col-md-6 col-lg-3 col-lg-2">
                <label class="d-block font-weight-bold">
                    {{ comp.targetModel.typeConceptModel | concept }}
                </label>

                <input ng-disabled="act.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3' &amp;&amp; !act.version"
                    min="{{ comp.targetModel.typeConceptModel.id == 'a2ab26a4-1887-11eb-adc1-0242ac120002' ? 1 : 0 }}"
                    name="pregnancyHistoryComponent{{ $index }}" ng-model="comp.targetModel.value" class="form-control"
                    type="number" max="15" />
            </div>
        </div>

        <div class="row">
            <div class="col-12" ng-repeat="comp in act.relationship.HasComponent track by $index"
                ng-if="comp.targetModel.$type == 'Act'">
                <label class="control-label">
                    {{ comp.targetModel.typeConceptModel | concept }}
                </label>

                <div class="row">
                    <div class="col-12 ml-3"
                        ng-repeat="complication in comp.targetModel.relationship.HasComponent track by $index">
                        <label class="checkbox-container">
                            <!-- Batch Operation = 2 is INSERT OR UPDATE and 5 is IGNORE (from BatchOperationType enum)-->
                            <input type="checkbox" ng-model="complication.targetModel.isNegated" ng-true-value="false"
                                ng-disabled="act.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3'  &amp;&amp; !act.version"
                                ng-false-value="true" class="checkbox-control" />
                            <span></span>
                            {{ ::complication.targetModel.valueModel | concept }}
                        </label>

                        <concept-select class="form-control" ng-if="complication.targetModel.tag['$cdss.valueSet']"
                            concept-set="complication.targetModel.tag['$cdss.valueSet'][0]"
                            ng-disabled="complication.targetModel.isNegated"
                            ng-model="complication.targetModel.value" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>