<div xmlns="http://www.w3.org/1999/xhtml" class="form-group row">
    <label class="col-sm-12 col-md-3 control-label required">{{ ::act.typeConceptModel | concept }}</label>
    <div class="col-md-8 col-sm-12">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text checkbox-container py-0">
                    <input type="checkbox" ng-model="act.valuePrecision" ng-true-value="3" ng-false-value="5"
                        class="checkbox-control" />
                    <span style="top: 0;"></span> {{ 'ui.model.date.approx' | i18n }}
                </label>
            </div>
            <input ng-if="act.valuePrecision === 3" ng-init="act.value = act.value.trunc()" type="date" class="form-control" ng-model="act.value"
                min="{{ act.participation.RecordTarget[0].playerModel.dateOfBirth | date: 'yyyy-MM-dd'}}"
                ng-min="act.participation.RecordTarget[0].playerModel.dateOfBirth"
                max="{{ $root.page.maxEventTime | date: 'yyyy-MM-dd' }}" required="required" name="timeOfDeath"/>
            <input ng-if="act.valuePrecision === 5" type="datetime-local" class="form-control" ng-model="act.value"
                min="{{ act.participation.RecordTarget[0].playerModel.dateOfBirth | date: 'yyyy-MM-ddT00:00:00'}}"
                ng-min="act.participation.RecordTarget[0].playerModel.dateOfBirth"
                max="{{ $root.page.maxEventTime | date: 'yyyy-MM-ddTHH:mm:ss.000' }}" step="60" required="required" name="timeOfDeath"/>
            <div class="text-danger" ng-if="$root.getParentVariable($parent, 'ownerForm').timeOfDeath.$error.required">
                <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
            </div>
        </div>
    </div>
</div>