div.login-panel {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

div.logo-centered {
  margin: auto;
  width: 64px;
  height: 64px;
  background-image: url("/org.santedb.core/img/icon.png");
}

.navbar-collapse .navbar-sidenav .nav-link-collapse.collapsed:after,
.collapse-indicator i:last-child {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.navbar-collapse .navbar-sidenav .nav-link-collapse[aria-expanded="true"]:after,
.collapse-indicator[aria-expanded="true"] i:last-child {
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.scroll-container {
  width: 100%;
  overflow-y: auto;
}

input[type="checkbox"].checkbox-control:checked ~ span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%230378ff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

input[type="checkbox"].checkbox-control:disabled ~ span {
  background-color: #aaa;
}

input[type="checkbox"].checkbox-control {
  z-index: -1;
  opacity: 0;
  position: absolute;
}

input[type="checkbox"].checkbox-control ~ span {
  position: relative;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  max-height: 1.5em;
  max-width: 1.5em;
  min-height: 1.5em;
  min-width: 1.5em;
  border: solid 1px #868e96;
  border-radius: 5px;
  margin: 0em 0.25em 0em 0em;
  top: 5px;
}

input[type="radio"].checkbox-control:checked ~ span {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Ccircle fill='%230378ff' cx='4' cy='4' r='3'/%3E%3C/svg%3E");
}

input[type="radio"].checkbox-control:disabled ~ span {
  background-color: #aaa;
}

input[type="radio"].checkbox-control {
  z-index: -1;
  opacity: 0;
  position: absolute;
}

input[type="radio"].checkbox-control ~ span {
  position: relative;
  display: inline-block;
  height: 1.5em;
  width: 1.5em;
  border: solid 1px #868e96;
  border-radius: 1.5em;
  margin: 0em 0.25em 0em 0em;
}

label.checkbox-container {
  position: relative;
}

div.vertical-tab-box > ul {
  transform-origin: bottom right;
  transform: rotate(-90deg);
  margin-top: -24px;
  width: 400px;
  float: right;
}

div.vertical-tab-box > div.tab-content {
  border-right: 1px solid #0275d8;
  width: calc(100% - 40px);
  min-height: 400px;
}

div.vertical-tab-box > ul > li.nav-item .active {
  border-left: 1px solid #0275d8;
  border-right: 1px solid #0275d8;
}

.primary-result-link {
  font-weight: bold;
  font-size: 1em;
  color: #0275d8;
  text-decoration: underline;
}

label.required {
  color: #0aa;
}

div.scroll-container {
  overflow: auto;
}

.w-10 {
  max-width: 10%;
}

.search-card {
  margin: 5px;
}

.search-card-property-icon {
  max-width: 20px;
  width: 100%;
  text-align: left;
  margin-right: 15px;
}

@media only screen and (min-width: 1080px) {
  .search-card {
    max-width: 32%;
  }
}

.content-wrapper {
  background-color: white;
}

fieldset {
  border: solid 1px var(--light);
}

fieldset > legend {
  text-align: center;
  font-weight: bold;
  background-color: var(--info);
  color: var(--light);
}

div.search-card-relative {
  padding: 0.25em;
}

div.duplicate-list {
  max-height: 65vh;
  overflow-y: scroll;
}

table {
  border: 2px solid #dee2e6 !important;
}

.fc-dayGridDay-view .emr-event {
  min-height: 5em;
  max-height: 5em;
  font-size: 1.5em;
  padding: 0.1em;
}

.fc-dayGridDay-view .emr-event h5 {
  display: block;
  margin: 1px 0px;
  font-size: 1.1em;
}

.fc-dayGridDay-view .emr-event ul {
  margin: 0px;
}

.fc-dayGridDay-view .emr-event li {
  display: inline;
  padding: 0px 2px;
  font-size: 0.8em;
}

.fc-dayGridDay-view .emr-event small {
  display: block;
  padding: 1px 2px;
  font-size: 0.8em;
}

.fc-dayGridWeek-view .emr-event {
  min-height: 3.5em;
  max-height: 3.5em;
  margin: 0.1em;
  padding: 0.5em;
  overflow-x: hidden;
  overflow-y: hidden;
}

.fc-dayGridWeek-view .emr-event h5 {
  display: block;
  margin: 1px 2px;
  font-size: 1em;
}

.fc-dayGridWeek-view .emr-event small {
  display: block;
  padding: 1px 2px;
  font-size: 0.8em;
}

.min-height-fit {
  min-height: -webkit-fill-available;
}
