<div xmlns="http://www.w3.org/1999/xhtml" xmlns:sdb="http://santedb.org/applet" class="container-fluid p-0">
    <sdb:script static="false">~/controllers/templates/widgets.js</sdb:script>
    <sdb:script static="true">/org.santedb.admin/lib/ace/ace.min.js</sdb:script>
    <sdb:script static="false">~/controllers/templates/rimEditor.js</sdb:script>
    <sdb:script static="false">/org.santedb.admin/lib/ace/ext-language_tools.js</sdb:script>
    <sdb:widget order="10" name="org.santedb.emr.admin.templates.model.edit" type="Panel" size="Large"
        context="org.santedb.emr.admin.templates.model">
        <sdb:icon>fas fa-fw fa-code</sdb:icon>
        <sdb:views>
            <sdb:view type="Edit">
                <sdb:guard>scopedObject.template.type !== 'reference' &amp;&amp; !scopedObject.isReadonly</sdb:guard>
            </sdb:view>
        </sdb:views>
    </sdb:widget>

    <div ng-controller="EmrEditTemplateModelController">
        <div class="container" ng-if="panel.view !== 'Edit'">
            <div class="row">
                <div class="col-sm-12 col-md-10 offset-md-2" ng-if="scopedObject.template.type == 'reference'">
                    <div class="alert alert-info m-2">
                        <i class="fas fa-fw fa-info-circle"></i> {{ 'ui.emr.admin.templates.cannotEdit' | i18n}}
                    </div>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-12 col-md-3">
                    {{ 'ui.model.dataTemplateDefinition.template' | i18n }}
                </label>
                <div class="col-sm-12 col-md-9">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-info"
                            ng-if="scopedObject.template.type == 'reference'">
                            <a href="{{ scopedObject.template.template }}" target="_blank"><i
                                    class="fas fa-fw fa-file"></i> {{ scopedObject.template.template }}</a>
                        </li>
                        <li class="list-group-item">
                            <object-tree object="scopedObject.templateJson" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <form ng-if="panel.view === 'Edit'" name="panel.editForm" ng-submit="saveTemplateDefinition(panel.editForm)"
            novalidate="novalidate">
            <div id="modelEditor" style="height: calc(100vh - 200px); max-height:calc(100vh - 200px)">
            </div>
            <div class="w-100 alert-info">
                <h5 class="p-1 m-0"><i class="fas fa-tasks fa-fw"></i> {{ 'ui.admin.emr.model.edit.errorList' | i18n }}
                </h5>
            </div>
            <ul class="list-unstyled" style="max-height:10vh; overflow-y: scroll; height:10vh">
                <li ng-click="gotoIssue(iss)" ng-repeat="iss in validationIssues"><i class="fas"
                        ng-class="{ 'text-danger fa-times-square': iss.type == 'error', 'text-warning fa-exclamation-triangle' : iss.type == 'warning', 'text-primary fa-info-circle' : iss.type == 'info' }"></i>
                    {{ iss.type }} - {{ iss.text }} @ {{iss.row + 1}}:{{iss.column}}</li>
            </ul>

        </form>
    </div>
</div>