<div xmlns="http://www.w3.org/1999/xhtml">


    <h5>
        {{ act.typeConceptModel | concept }}
    </h5>
    <div class=" container-fluid">
        <div class="form-group row">
            <!-- Nest the date the same way the sub-obs are nested so they look better -->
            <div class="col-xs-12 col-md-6">
                <div class="container-fluid">
                    <div class="row">
                        <label class="control-label required col-xs-12 col-md-3">
                            {{ 'ui.model.act.actTime.dateTime' | i18n }} <hint-popover
                                hint-title="ui.model.act.actTime.dateTime" />
                        </label>
                        <div class="col-xs-12 col-md-9">
                            <input type="datetime-local" ng-model="act.actTime" required="required" class="form-control"
                                name="vitaSignDate{{$index}}"
                                max="{{ $root.page.maxEventTime | date: 'yyyy-MM-ddTHH:mm'}}" />
                            <div class="text-danger"
                                ng-if="($parent.$parent.$parent.$parent.ownerForm || $parent.$parent.$parent.ownerForm || $parent.$parent.ownerForm || $parent.ownerForm || ownerForm)['vitaSignDate' + $index].$error.required">
                                <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6" ng-repeat="comp in act.relationship.HasComponent"
                ng-init="act = comp.targetModel">
                <ng-include
                    src="::$parent.$parent.$parent.$parent.$parent.resolveTemplate(act.templateModel.mnemonic)" />
            </div>
        </div>
    </div>
</div>