<span xmlns="http://www.w3.org/1999/xhtml">
    <h5>
        {{ act.typeConceptModel | concept }}
    </h5>

    <div class=" container-fluid">
        <div class="form-group row">
            <!-- Nest the date the same way the sub-obs are nested so they look better -->
            <label class="control-label required col-xs-12 col-md-3">
                {{ 'ui.model.act.actTime.dateTime' | i18n }} <hint-popover hint-title="ui.model.act.actTime.dateTime" />
            </label>

            <div class="col-12 col-md-8">
                <input type="datetime-local" ng-model="act.actTime" required="required" class="form-control" step="0"
                    name="vitaSignDate{{$index}}" max="{{ $root.page.maxEventTime | date: 'yyyy-MM-ddTHH:mm'}}" />

                <div class="text-danger"
                    ng-if="($parent.$parent.$parent.$parent.ownerForm || $parent.$parent.$parent.ownerForm || $parent.$parent.ownerForm || $parent.ownerForm || ownerForm)['vitaSignDate' + $index].$error.required">
                    <i class="fas fa-fw fa-exclamation-triangle"></i> {{ 'ui.error.required' | i18n }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-10 offset-1">
                <div class="row">
                    <span class="col-6" ng-repeat="comp in act.relationship.HasComponent"
                        ng-init="act = comp.targetModel">
                        <ng-include
                            src="::$root.getParentVariable($parent, 'resolveTemplate')(act.templateModel.mnemonic)" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</span>
