<div xmlns="http://www.w3.org/1999/xhtml">
    <div class="row" ng-if="rel.targetModel.$type == 'Patient'">
        <div class="alert alert-info d-flex justify-content-between">
            <span class="p-2">
                {{ 'ui.emr.nok.structured' | i18n }}
            </span>
            <a class="btn btn-info" ui-sref="{ id: rel.targetModel.id }"><i
                    class="fas fa-arrow-right"></i> {{ 'ui.action.view' | i18n }}</a>

        </div>
    </div>
    <div class="row">
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.entity.name' | i18n }}</label>
        <div class="col-md-9 col-sm-12">
            <ul class="list-group">
                <li class="d-flex align-items-center"
                    ng-repeat="(n, name) in rel.targetModel.name">
                    {{ name | name }} <span
                        class="badge badge-light">{{ name.useModel | concept }}</span></li>
            </ul>
        </div>
        <label class="col-md-3 col-sm-12 control-label" ng-if="rel.targetModel.identifier">{{ 'ui.model.patient.identifier' | i18n }}</label>
        <div class="col-md-9 col-sm-12"
        ng-if="rel.targetModel.identifier">
            <ul class="list-group">
                <li class="d-flex align-items-center"
                    ng-repeat="(n, id) in rel.targetModel.identifier">
                    {{ id.value }} <span class="badge badge-info">{{ id.domainModel.name }}</span></li>
            </ul>
        </div>
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.entity.dateOfBirth' | i18n }}</label>
        <div class="col-md-9 col-sm-12"
            ng-if="rel.targetModel.dateOfBirth">
            {{ rel.targetModel.dateOfBirth | extDate: rel.targetModel.dateOfBirthPrecision }}
            <span ng-if="!rel.targetModel.deceasedDate">
                (
                {{ rel.targetModel.dateOfBirth | age }}
                )</span>
        </div>
        
        <div class="col-md-9 col-sm-12"
            ng-if="!rel.targetModel.dateOfBirth">
            {{ 'ui.unknown' | i18n}}
        </div>
        <label
            class="col-md-3 col-sm-12 control-label">{{ 'ui.model.patient.genderConcept' | i18n }}</label>
        <div class="col-md-9 col-sm-12"
            ng-if="rel.targetModel.genderConceptModel">
            <i class="fas"
                ng-class="{ 'fa-male' : rel.targetModel.genderConceptModel.mnemonic == 'Male' , 'fa-female' :  rel.targetModel.genderConceptModel.mnemonic == 'Female' }"></i>
            {{ rel.targetModel.genderConceptModel | concept }}
        </div>
        <div class="col-md-9 col-sm-12"
            ng-if="!rel.targetModel.genderConceptModel">
            {{ 'ui.unknown' | i18n}}
        </div>
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.entity.address' | i18n }}</label>
        <div class="col-md-9 col-sm-12">
            <div ng-if="rel.targetModel.address">
                <ul class="list-group">
                    <li class="d-flex align-items-center"
                        ng-repeat="(n, address) in rel.targetModel.address">
                        {{ address | address }} <span
                            class="badge badge-light">{{ address.useModel | concept }}</span>
                    </li>
                </ul>
            </div>
            <div ng-if="!rel.targetModel.address">
                {{ 'ui.unknown' | i18n }}
            </div>
        </div>
        <label class="col-md-3 col-sm-12 control-label">{{ 'ui.model.entity.telecom' | i18n }}</label>
        <div class="col-md-9 col-sm-12"
            ng-repeat="(k,tel) in rel.targetModel.telecom track by $index"
            ng-class="{ 'offset-md-3': $index > 0 }">
            <a href="{{tel.value}}" target="_blank">{{tel.value}} <span
                    class="badge badge-pill badge-info">{{ tel.useModel | concept }}</span></a>
        </div>
    </div>
        <div ng-if="rel.targetModel.deceasedDate" class="row">
            <label class="col-sm-3 col-12 control-label">{{ 'ui.model.patient.deceased' | i18n }}</label>
            <div class="col-sm-9 col-12">
                {{ rel.targetModel.deceasedDate | extDate: rel.targetModel.deceasedDatePrecision }}
                ( {{ rel.targetModel.dateOfBirth | age: 'y':rel.targetModel.deceasedDate }} )
            </div>
        </div>
        <div ng-if="rel.targetModel.deceasedDate &amp;&amp; rel.targetModel.relationship.PlaceOfDeath.targetModel" class="row">
            <label class="col-sm-3 col-12 control-label">{{ 'ui.model.patient.placeOfDeath' | i18n }}</label>
            <div class="col-sm-9 col-12">
                <i class="fas"
                    ng-class="{ 'fa-hospital-alt' : rel.targetModel.relationship.PlaceOfDeath.targetModel.classConcept == 'ff34dfa7-c6d3-4f8b-bc9f-14bcdc13ba6c' , 'fa-map-marked' : rel.targetModel.relationship.PlaceOfDeath.targetModel.classConcept != 'ff34dfa7-c6d3-4f8b-bc9f-14bcdc13ba6c'}"></i>
                {{ rel.targetModel.relationship.PlaceOfDeath.targetModel.name | name }} <br />
                <small> ({{ rel.targetModel.relationship.PlaceOfDeath.targetModel.address | address }})</small>
            </div>
    </div></div>