<div xmlns="http://www.w3.org/1999/xhtml" class="container-fluid" 
    oc-lazy-load="{ name: 'StiStatusPanelController', files: [ '/org.santedb.emr.common/controllers/templates/act/sti.js' ] }">

    <div ng-controller="StiStatusPanelController">
        <div class="row" ng-if="!act.version &amp;&amp; !act.tag.$userAdded" >
            <div class="col-12">
                <label class="p-0 font-weight-bold control-label required">
                    {{ ::act.typeConceptModel | concept }}
                </label>
            </div>

            <div class="col-12">
                <label class="checkbox-container font-weight-bold mr-2">
                    <input type="radio" ng-model="act.statusConcept" value="afc33800-8225-4061-b168-bacc09cdbae3"
                        name="stiStatus" class="checkbox-control" />
                    <span></span>
                    {{ 'ui.true' | i18n }}
                </label>

                <label class="checkbox-container font-weight-bold">
                    <input type="radio" ng-model="act.statusConcept" ng-value="null" name="stiStatus"
                        class="checkbox-control" />
                    <span></span>
                    {{ 'ui.false' | i18n }}
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-group" ng-if="act.tag.$userAdded || act.statusConcept == 'afc33800-8225-4061-b168-bacc09cdbae3'">
                    <li class="list-group-item" ng-repeat="comp in act.relationship.HasComponent track by $index" 
                        ng-if="comp.operation != 5 &amp;&amp; comp.targetModel">
                        <div class="d-flex flex-column" 
                            ng-class="{ 'actEntryComponentRemoved' : comp.targetModel.statusConcept == 'bdef5f90-5497-4f26-956c-8f818cce2bd2' }"
                            ng-init="act = comp.targetModel">
                            <ng-include
                                src="::$root.getParentVariable($parent, 'resolveTemplateForm')(comp.targetModel.templateModel.mnemonic)" />
                            <div class="btn-group float-right" ng-if="$index &gt; 0 || act.version">
                                <button type="button" class="btn btn-danger" ng-click="removeStiFromPanel(comp)"
                                    ng-if="comp.targetModel.statusConcept != 'bdef5f90-5497-4f26-956c-8f818cce2bd2'">
                                    <i class="fas fa-fw fa-times-circle"></i> {{ 'ui.action.remove' | i18n }}
                                </button>
                                <button type="button" class="btn btn-success" ng-click="undoRemoveStiFromPanel(comp)"
                                    ng-if="comp.targetModel.statusConcept != 'afc33800-8225-4061-b168-bacc09cdbae3'">
                                    <i class="fas fa-fw fa-undo"></i> {{ 'ui.action.undo' | i18n }}
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="float-right btn-group">
                            <button type="button" class="btn btn-primary" ng-click="addStiToPanel()" id="btnAddSti">
                                <i class="fas fa-fw fa-plus-circle"></i> {{ 'ui.action.add' | i18n }}
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>